/* Project 2*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end http://meyerweb.com/eric/tools/css/reset/ */



/* Stanting CSS for my website */
body {
	background-color:#e5e6e8;
  
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
html {
  font-family: sans-serif;
}

div #page-wrapper {
	
	width: 960px;
	background-color:red;	
	margin: 0 auto;
	
	
}



div #main-content {
	
	background-color: #ffe6e6;
	float: center;
	width: 700px;
	height; 800px


}





header{
	background-color:#66CCFF;
	font-family:sans-serif;
	height: 60px;
	clear: both;
	
}

nav ul{
	
	list-style-type: none;
	padding:0;
	margin:0;
	overflow:hidden;
}


nav ul li{
	
	
	float: left;
	margin: 0 20px;
}

nav ul li a {
	
	
	display: block;
	background-color: #00bfff;
	color: #000000;
	font-weight: bold;
	text-decoration: none:
	text-align: center;
	width: 100px;
	padding: 10px 0px 10px 0px;
	border-radius: 15px;
}



h1 {
  color: #664a64; /* custom color vailet */
  margin-left: 0.8rem;
  text-align: center;
}

h3 {
  color: #664a64; /* custom color vailet */
  margin-left: 0.8rem;
  text-align: center;
}

h4 {
  color: #664a64; /* custom color vailet */
  margin-left: 0.8rem;
  text-align: center;
}









img {
    display: block;
    margin: 0 auto;
}

p{
	text-align: center;
	
}



iframe {
  display:block;
  margin:auto;
}

ul {
width: 90%; 
    list-style-type:none;
    margin:auto;
    padding:0;
    position:relative;
    left:30%;
}





footer{
	background-color:#d5dfef;
	font-family:sans-serif;
	height: 60px;
	clear: both;
	
}